@use '../../styles/variables/colors';

.container {
    position: relative;

    background: colors.$light-gray;
}

.progress {
    position: absolute;

    height: 100%;
    border-radius: inherit;

    background: colors.$blue;
}