@use 'variables';

:root {
    --white: #FFFFFF;
    --black: #2D2D2D;

    --light-gray: #D4D4DB;

    --blue: #633DFF;
    --light-blue: #F3F3FF;
}

* {
    box-sizing: border-box;
}

html, body, a, p, h1, h2 {
    padding: 0;
    margin: 0;
}

html {
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

h1 {
    font-size:  5rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: variables.$tablet-breakpoint) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: variables.$phone-breakpoint) {
    html {
        font-size: 10px;
    }
}