@use 'variables/breakpoints';
@use 'variables/colors';

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100vh;
    max-width: 1280px;

    padding: 0 4rem;
    margin: auto;

    .greeting {
        & > p {
            color: colors.$blue;
            font-size: 2rem;
        }
    }

    .hand {
        flex: 1;

        max-width: 20rem;
        margin-left: 4rem;
    }

    .scroll {
        position: absolute;
        bottom: 1rem;

        width: 1.5rem;
        height: 1.5rem;
    }
}

.socialMedias {
    display: flex;

    margin-top: 0.5rem;
}

.socialMedia {
    display: flex;

    color: colors.$light-gray;
    transition: color 0.2s, transform 0.2s;

    &:not(:first-child) {
        margin-left: 1.5rem;
    }

    &:hover {
        color: colors.$blue;
        transform: translateY(-0.5rem);
    }

    .socialMediaIcon {
        width: 2rem;
        height: 2rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.wave {
    height: 4rem;
}

.section {
    .content {
        padding: 64px;
        margin: auto;

        max-width: 1280px;

        & > h2 {
            margin-bottom: 1rem;
        }

        & > p {
            font-size: 1.5rem;
            text-align: justify;
        }
    }
}

.aboutMeWave {
    color: colors.$blue;
}

#aboutMe {
    color: colors.$white;
    background-color: colors.$blue;
}

.skills {
    display: grid;
    grid-template-rows: repeat(4, 2rem);
    grid-auto-flow: column;
    gap: 1rem 4rem;
}

.skill {
    display: flex;
    align-items: center;

    .technologyIcon {
        margin-right: 1rem;

        width: 2rem;
        height: 2rem;

        color: colors.$light-gray;
    }

    .proficiency {
        flex: 1;
        height: 1rem;

        border-radius: 0.5rem;
    }
}

.footerWave {
    color: colors.$light-blue;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;

    background: colors.$light-blue;

    & > p {
        color: colors.$light-gray;
    }

    .madeWith {
        display: flex;
        align-items: center;

        .toolIcon {
            width: 1rem;
            height: 1rem;

            margin: 0 0.25rem;
        }
    }
}

@media screen and (max-width: breakpoints.$phone) {
    .header {
        justify-content: center;

        .hand {
            display: none;
        }
    }

    .socialMedias {
        justify-content: center;
    }

    .skills {
        grid-template-rows: repeat(8, 2rem);
    }
}